.container {
  width: 960px;
}

.header-nav-element span {
  display: none;
}

#premium-yazi {
  margin-left: auto;
}

.profile {
  display: none;
}

.adversiment-container {
  margin-left: auto;
}

.adversiment {
  padding: 20px 13px;
}

/* .dd {
  flex-direction: column;
}

.profile, .content, .adversiment-container {
  margin: 0 auto;
  margin-bottom: 20px;
} */

.cards {
  flex-direction: column;
}

.card {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  border-right: none;
}